<div class="admin_task_form_fields">
    <%= form.label :task, t("task")  %><br />
    <%= form.text_field :task , :size => 100  %>
    <%= error_message_on :admin_task, :task %>
    <br/>
    <%= form.label :due_at, t("due_at") %><br />
    <%= form.error_message_on :due_at %>
    <%= form.text_field :due_at ,:class => 'datepicker' %>
    <br/>

    <%= form.label :done, t("done")%><br />
    <%=form.check_box :done %>
    <br/>

    <%= form.label :user_id, t("admin") %><br />
    <%= form.collection_select(:user_id, @admins, :id, :email, {}, {"style" => "width:200px"})  %>
    <%= error_message_on :admin_task, :user_id %>
    <br/>
  
    <% if params[:number] %>
      <% @task.number = params[:number] %>
    <% end %>
    <%= form.label :number, t("number") %><%= form.text_field :number , :size => 20  %>
    <%== order_link(@task) if @task.order_id %> 
   <br />
  
</div>


