<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_task"), new_admin_admin_task_url, :icon => 'add'  %>
    </li>
    <li>
      <%= button_link_to params[:all] ? t("my_tasks"):t("all_tasks"), admin_admin_tasks_path( params[:all] ? {} : {:all => 'true'})  %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("admin_tasks") %></h1>

<table class="index">
  <thead>
    <tr>
    <div class="admin_tasks_index_headers">
      <th><%= t("task") %></th>
      <th><%= t("source") %></th>
      <th><%= t("assigned_to") %></th>
      <th><%= t("due_at") %></th>
      <th><%= t("done") %></th>
      <th><%= "actions" %></th>
    </div>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |admin_task|%>
      <tr id="<%= dom_id admin_task %>">
        <%- locals = {:admin_task => admin_task} %>
        <div class="admin_tasks_index_rows">
          <td><%= admin_task.task %></td>
          <td><%== source_link admin_task %></td>
          <td><%= admin_task.user.email if admin_task.user %></td>
          <td><%= I18n.l admin_task.due_at.to_date %></td>
          <td><%= done_link admin_task %></td>
        </div>
        <td width="140px">
          <div class="admin_tasks_index_row_actions">
            <%== link_to "Edit" ,  edit_admin_admin_task_url(admin_task) %> <br/>
            <%== link_to "Delete" , admin_admin_task_url(admin_task , :method => :destroy) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

